<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://superdashboard.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>superdashboard.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>superdashboard</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$superdashboard</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NotificationDashboardPrototype.Data.NotificationModelContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:uzyzi7ab0d.database.windows.net,1433;Initial Catalog=superdashboard_db;User ID=tonytrivi@uzyzi7ab0d;Password=Timmytrivi1" Name="Data Source=tcp:uzyzi7ab0d.database.windows.net,1433;Initial Catalog=superdashboard_db;User Id=tonytrivi@uzyzi7ab0d;Password=Timmytrivi1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="NotificationDashboardPrototype.Data.NotificationModelContext, NotificationDashboardPrototype" MigrationConfiguration="NotificationDashboardPrototype.Migrations.Configuration, NotificationDashboardPrototype" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NotificationDashboardPrototype.Data.NotificationModelContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:uzyzi7ab0d.database.windows.net,1433;Initial Catalog=superdashboard_db;User Id=tonytrivi@uzyzi7ab0d;Password=Timmytrivi1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="NotificationDashboardPrototype.Data.NotificationModelContext" />
  </ItemGroup>
</Project>