body {
    padding-top: 50px;
    padding-bottom: 2px;
    background-color: #fffefc;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Success {
    color: green;
    text-align: center;
}

.Failure {
    color: red;
    text-align: center;
}



.Unknown {
    color: orange;
    text-align: center;
}

.navbar-inverse {

  background-color: darkslategray;
  border-bottom-color:gray;

}

.navbar-inverse .navbar-brand {
  color: gray;
  
}

/* mouse over links in top nav */
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

td {

  font-family: Calibri, 'Trebuchet MS', sans-serif;
  

}

th {

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

}

dt {

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

}

dd {

  font-family: Calibri, 'Trebuchet MS', sans-serif;
  

}

.serverrow {

  border-top: 5px solid white; 

 

}





/* on server index page */
.serverlink {

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* on server index */
.notificationmessage {

  font-style: italic;

}

i.glyphicon {
    font-size: 1.3em;
}

.panel-footer {
    background-color: white;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    border-color:white;
    padding-top: 25px;
    padding-bottom: 2px;
    font-size: .9em;
    color:gray;
    height: 50px;
}


