@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h2>The Super Dashboard</h2>
        <p class="lead">This Web application helps you keep track of server notifications.</p>
        <p><a href="~/servers" class="btn btn-primary btn-lg">Get messages &raquo;</a></p>
        <p><a href="~/customers" class="btn btn-primary btn-lg">Get customers &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h4>Get started</h4>
                <p>
                    This is a powerful platform for keeping track of things.
                </p>
                @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h4>No more emails</h4>
            <p>Consolidate your messages in one place.</p>
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h4>Impress your friends</h4>
            <p>Show them this big-time dashboard.</p>
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>
    </div>
</div>